@import "../../styles/responsive.scss";
@import "../../styles/mixins.scss";
@import "../../styles/classes.scss";

.moon-container {
  @extend .max-width;

  width: 100%;

  .moon {
    @include image-ratio("../../static/images/moon.png", 100%);

    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;

    &::after {
      display: none;
    }

    .half-moon {
      background-image: url("../../static/images/moon.png");
      background-size: cover;
      height: 50%;
      position: absolute;
      width: 100%;
    }

    .half-moon.en {
      background-position: 50% 0;
      top: 0;
    }

    .half-moon.fr {
      background-position: 50% 100%;
      bottom: 0;
      transform: rotate(0deg);
    }
  }

  .blobs {
    top: 50%;
    width: 180%;

    .blob-2 {
      right: 0;
      transform: translateY(-45%);
      width: 90%;
    }

    .blob-3 {
      left: 0;
      transform: translateY(-70%);
      width: 90%;
    }
  }

  @include media(">=tablet") {
    .moon {
      width: 24%;
    }
  }

  @include media(">=desktop") {
    .moon {
      width: 23%;
    }
  }
}
