@import "../../styles/responsive.scss";
@import "../../styles/mixins.scss";
@import "../../styles/classes.scss";

.landscape {
  @extend .max-width;

  $offset: -5%;

  height: 150px;
  position: relative;
  width: 100%;

  .stag {
    @include image-ratio("../../static/images/stag.png", 85%);

    bottom: -3px;
    left: 20%;
    position: absolute;
    width: 14%;
  }

  .fox {
    @include image-ratio("../../static/images/fox.png", 84%);

    bottom: -2px;
    right: 22%;
    position: absolute;
    width: 7.5%;
  }

  .mountain {
    @include image-ratio("../../static/images/mountain.png", 48%);

    bottom: 6px;
    right: $offset;
    opacity: 0.8;
    position: absolute;
    width: 30%;

    .blobs {
      position: absolute;
      top: 50%;
      width: 120%;

      .blob-1 {
        right: 10%;
        transform: translateY(-30%);
        width: 100%;
      }

      .blob-3 {
        left: -20%;
        transform: translateY(-20%);
        width: 90%;
      }
    }
  }

  .trees {
    bottom: 0;
    height: 100%;
    left: $offset;
    position: absolute;
    width: 30%;

    .tree-1 {
      @include image-ratio("../../static/images/tree-1.png", 230%);

      bottom: 0;
      left: 0;
      position: absolute;
      width: 50%;

      .blobs {
        position: absolute;
        top: 50%;
        width: 140%;

        .blob-1 {
          left: -5%;
          transform: translateY(-105%);
          width: 95%;
        }

        .blob-2 {
          right: 0;
          transform: translateY(-50%);
          width: 95%;
        }

        .blob-3 {
          left: 0;
          transform: translateY(0);
          width: 95%;
        }
      }
    }

    .tree-2 {
      @include image-ratio("../../static/images/tree-2.png", 200%);

      bottom: 0;
      position: absolute;
      right: 0;
      width: 50%;

      .blobs {
        position: absolute;
        top: 50%;
        width: 120%;

        .blob-1 {
          transform: translateY(-25%);
          width: 90%;
        }

        .blob-2 {
          left: 0;
          transform: translateY(-110%);
          width: 90%;
        }

        .blob-3 {
          transform: translateY(-60%);
          width: 90%;
        }
      }
    }
  }

  .home-copy.fr & {
    .mirror {
      transform: scaleX(-1);
      filter: FlipH;
    }

    .mountain {
      left: $offset;
      right: auto;
    }

    .trees {
      left: auto;
      right: $offset;
    }
  }

  @include media(">=tablet") {
    $offset: 2.5%;

    .stag {
      bottom: -4px;
      left: 23%;
      width: 9.5%;
    }

    .fox {
      bottom: -3px;
      right: 24%;
      width: 5%;
    }

    .mountain {
      right: $offset;
      width: 20%;

      .blobs {
        width: 150%;

        .blob-1 {
          right: 5%;
        }

        .blob-3 {
          left: -15%;
        }
      }
    }

    .trees {
      left: $offset;
      width: 25%;

      .tree-1 {
        width: 50%;
      }

      .tree-2 {
        width: 50%;
      }
    }

    .home-copy.fr & {
      .mountain {
        left: $offset;
        right: auto;
      }

      .trees {
        left: auto;
        right: $offset;
      }
    }
  }

  @include media(">=desktop") {
    $offset: 5%;

    .stag {
      bottom: -4px;
      left: 25%;
      width: 9.5%;
    }

    .fox {
      bottom: -3px;
      right: 26%;
      width: 5%;
    }

    .mountain {
      right: $offset;
      width: 20%;

      .blobs {
        width: 160%;
      }
    }

    .trees {
      left: $offset;
      width: 25%;

      .tree-1 {
        width: 50%;
      }

      .tree-2 {
        width: 50%;
      }
    }

    .home-copy.fr & {
      .mountain {
        left: $offset;
        right: auto;
      }

      .trees {
        left: auto;
        right: $offset;
      }
    }
  }
}
