@import "../../styles/colours.scss";
@import "../../styles/mixins.scss";
@import "../../styles/responsive.scss";

.language-switcher {
  display: flex;
  font-size: 1.6rem;
  margin-right: 12px;
  position: relative;

  .language {
    color: $white;
    font-weight: bold;
    margin-left: 16px;
    opacity: 0.7;
    padding: 4px 0;
    position: relative;
    text-shadow: 0 0 1px transparentize($black, 0.1);
    transition: opacity 300ms ease-in-out;

    .text {
      display: flex;

      &::after {
        background: transparent url("../../static/images/horizon-invert.png")
          left center no-repeat;
        background-size: cover;
        bottom: -2px;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        transition: width 300ms ease-in-out;
        width: 0;
      }
    }

    &:disabled {
      opacity: 1;

      .text::after {
        width: 100%;
      }
    }
  }

  @include media(">=tablet") {
    .language {
      margin-left: 12px;
    }
  }
}
