@import "../../styles/mixins.scss";

.language-switcher {
  display: flex;
  font-size: 1.6rem;
  position: relative;

  .language {
    margin: 0 6px;
    padding: 4px 0;
    position: relative;

    .text {
      display: flex;

      &::after {
        background: transparent url("../../static/images/horizon.png") left
          center no-repeat;
        background-size: cover;
        bottom: -2px;
        content: "";
        display: block;
        height: 2px;
        left: 0;
        position: absolute;
        transition: width 300ms ease-in-out;
        width: 0;
      }
    }

    &:disabled {
      .text::after {
        width: 100%;
      }
    }
  }
}
