@import "./colours";

html {
  font-size: 62.5%;
} /* Essentially 10px */
body {
  font-size: 1.6rem;
} /* Essentially 16px */

html,
body {
  color: $black;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  min-height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  &::before {
    background: url("./static/images/wood-1024.jpg");
    background-size: cover;
    content: "";
    height: 110%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

body {
  font-family: Lato;
  position: relative;
  z-index: 1;
}

a {
  color: $black;
  outline: none;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  outline: none;
  padding: 0;
}
