@mixin image-ratio($url, $height) {
  &::before {
    content: "";
    display: block;
    height: 0;
    padding-top: $height;
    position: relative;
  }

  &::after {
    background: url($url) center no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
