@import "../../styles/classes.scss";

.app {
  header {
    @extend .max-width;

    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: space-between;
    padding: 0 8px;
  }

  .page {
    height: calc(100vh - #{$header-height});
    overflow-x: hidden;
  }
}
