@import "../../styles/colours";

.page-home {
  font-weight: bold;
  text-align: center;

  article {
    background-image: url("../../static/images/paper.jpg");
    background-size: cover;
    border-radius: 2px;
    display: flex;
    box-shadow: inset 0 0 4px transparentize($black, 0.4);
    flex-direction: column;
    margin: 2.5% auto;
    max-width: 640px;
    overflow: hidden;
    transition: transform ease-in-out 660ms;
    width: 95%;

    .fr,
    .en {
      transition: filter 0ms 330ms, opacity 660ms ease-in-out;
    }

    .en {
      filter: blur(0);
      opacity: 1;
    }

    .fr {
      filter: blur(1px);
      opacity: 0.7;
      transform: rotate(180deg);
    }
  }

  .fr & {
    article {
      transform: rotate(180deg);

      .en {
        filter: blur(1px);
        opacity: 0.7;
      }

      .fr {
        filter: blur(0);
        opacity: 1;
      }
    }
  }
}
