@import "../../styles/colours.scss";
@import "../../styles/mixins.scss";

.home-copy {
  position: relative;

  .line-1 {
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin: 40px 0 0;
  }

  .line-2 {
    display: block;
    font-size: 30px;
    font-weight: normal;
    margin: -30px 0 0;
  }

  .line-4 {
    margin-left: auto;
    margin-right: auto;
    width: 56%;
  }

  .drop-cap {
    color: mix($black, $green, 60%);
    font-size: 110px;
    margin-right: -1rem;

    &::before {
      height: 150%;
      left: -50%;
      opacity: 0.7;
      position: absolute;
      top: -25%;
      width: 180%;
      z-index: -1;
    }
  }

  &.fr .drop-cap {
    color: mix($black, $purple, 60%);

    &::before {
      opacity: 1;
    }
  }
}
