@import "../../styles/colours.scss";
@import "../../styles/responsive.scss";

.home-copy {
  position: relative;

  h1 {
    line-height: 1;
    margin: 0;
    padding-top: 30px;
    transition: all 200ms ease-in-out;
  }

  p {
    margin: 4px 0;
  }

  .line-1 {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin: 0;
    text-transform: uppercase;
  }

  .line-2 {
    display: block;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    margin: -6px 0 16px;
    text-transform: uppercase;
  }

  .line-3 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .line-4 {
    font-size: 1.8rem;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    width: 56%;

    sup {
      font-size: 1.1rem;
    }
  }

  .drop-cap {
    color: mix($black, $green, 60%);
    font-size: 11rem;
    font-weight: 100;
    margin-right: -0.75rem;
    text-shadow: 1px 0 0px mix($black, $green, 60%);

    &::before {
      height: 150%;
      left: -70%;
      opacity: 0.7;
      position: absolute;
      top: -27%;
      width: 220%;
      z-index: -1;
    }
  }

  .drop-cap-rest {
    padding-top: 6px;

    &::after {
      display: none;
    }
  }

  &.fr .drop-cap {
    color: mix($black, $purple, 60%);

    &::before {
      opacity: 1;
    }
  }

  @include media(">=tablet") {
    h1 {
      padding-top: 40px;
    }
  }

  @include media(">=desktop") {
    h1 {
      padding-top: 50px;
    }
  }
}
