@import "../../styles/mixins.scss";

.home-copy {
  position: relative;

  .line-1 {
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
  }

  .line-2 {
    display: block;
    font-size: 30px;
    font-weight: normal;
    margin: -20px 0 0;

    .drop-cap {
      font-size: 90px;
      position: relative;
      top: 12px;
    }
  }
}
