@import "../../styles/mixins.scss";

.drop-cap {
  font-size: 9rem;
  font-weight: 300;
  margin-right: -0.5%;
  position: relative;
  vertical-align: middle;
  z-index: 1;

  &::before {
    background: center no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 120%;
    left: -45%;
    position: absolute;
    top: -10%;
    width: 170%;
    z-index: 1;

    .lang-en & {
      background-image: url("../../static/images/blob-1-green.png");
    }

    .lang-fr & {
      background-image: url("../../static/images/blob-2-purple.png");
    }
  }

  .letter {
    position: relative;
    z-index: 2;
  }

  &-rest {
    position: relative;
    vertical-align: middle;
    z-index: 2;

    &::after {
      background: url("../../static/images/horizon.png") center no-repeat;
      background-size: cover;
      content: "";
      display: inline-block;
      height: 3px;
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
    }
  }
}
