@import "../../styles/classes.scss";
@import "../../styles/colours.scss";
@import "../../styles/mixins.scss";

.wedding-map {
  margin: 24px auto 6rem;
  position: relative;
  width: 80%;

  &::before {
    content: "";
    display: block;
    height: 0;
    padding-top: 100%;
    position: relative;
    width: 100%;
  }

  .map-display {
    border: 1px solid $black;
    border-radius: 6px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;

    h3 span {
      display: block;
    }
  }

  h4 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
  }

  .kingfisher {
    @include image-ratio("../../static/images/kingfisher.png", 153%);

    @extend %flip;

    bottom: 93.5%;
    right: 2%;
    position: absolute;
    transition: all 330ms ease-in-out;
    width: 10%;
  }

  .squirrel {
    @include image-ratio("../../static/images/squirrel.png", 91%);

    bottom: 99.5%;
    right: -2.5%;
    position: absolute;
    transition: all 330ms ease-in-out;
    width: 15%;
  }
}
