@import "../../styles/colours.scss";

.wedding-map {
  border: 1px solid $black;
  border-radius: 6px;
  margin: 0 auto 6rem;
  overflow: hidden;
  position: relative;
  width: 80%;

  &::before {
    content: "";
    display: block;
    height: 0;
    padding-top: 100%;
    position: relative;
    width: 100%;
  }

  .map-display {
    left: 0;
    position: absolute;
    top: 0;

    h3 span {
      display: block;
    }
  }

  h4 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
  }
}
