@import "../../styles/classes";
@import "../../styles/colours";

.page-answers {
  h2 {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
  }

  dl {
    margin-bottom: 6rem;
  }

  dt {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 0 0.5rem;
    padding: 0;
  }

  dd {
    font-size: 1.8rem;
    margin: 0 0 2rem;
    padding: 0;
  }
}
