@import "../../styles/mixins.scss";
@import "../../styles/classes.scss";

.fairy-lights {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.fairy-light {
  position: absolute;
  width: 9%;
  z-index: 1;

  .light {
    position: absolute;
    width: 100%;
  }

  .blob {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
}

.fairy-lights-1 {
  .fairy-light-1 {
    left: 20%;
    top: 18%;
  }
  .fairy-light-2 {
    left: 45%;
    top: 20%;
  }
  .fairy-light-3 {
    left: 65%;
    top: 18%;
  }
  .fairy-light-4 {
    left: 20%;
    top: 40%;
  }
  .fairy-light-5 {
    left: 45%;
    top: 43%;
  }
  .fairy-light-6 {
    left: 70%;
    top: 40%;
  }
  .fairy-light-7 {
    left: 5%;
    top: 60%;
  }
  .fairy-light-8 {
    left: 30%;
    top: 65%;
  }
  .fairy-light-9 {
    left: 60%;
    top: 65%;
  }
  .fairy-light-10 {
    left: 85%;
    top: 60%;
  }
}

.fairy-lights-2 {
  .fairy-light-1 {
    left: 20%;
    top: 18%;
  }
  .fairy-light-2 {
    left: 45%;
    top: 20%;
  }
  .fairy-light-3 {
    left: 65%;
    top: 18%;
  }
  .fairy-light-4 {
    left: 20%;
    top: 40%;
  }
  .fairy-light-5 {
    left: 45%;
    top: 43%;
  }
  .fairy-light-6 {
    left: 70%;
    top: 40%;
  }
  .fairy-light-7 {
    left: 5%;
    top: 60%;
  }
  .fairy-light-8 {
    left: 30%;
    top: 65%;
  }
  .fairy-light-9 {
    left: 60%;
    top: 65%;
  }
  .fairy-light-10 {
    left: 85%;
    top: 60%;
  }
}
